{% extends "PFA/base.html" %}

{% load static %}
{% block extends_scripts %}
<script type="text/javascript" src="{% static "PFA/js/angular.min.js" %}"></script>
{% endblock %}

{% block main_content %}
<div class="container">
    {% if user.is_authenticated %}
    <h1>Documents de {{ user.username }}</h1>
    <p><a class="btn btn-primary" href="{% url "cms.views.create" %}">Créer un document</a><p/>
    <ul>
    {% for doc in docs %}
        <li><a class="btn btn-link" href="{% url "cms.views.display" user.username doc.id %}">{{ doc.title }}</a></li>
    {% empty %}
        <li>Aucun document</li>
    {% endfor %}
    </ul>
    {% else %}
    <p class="alert alert-danger">Vous devez être connectez !</p>
    {% endif%}
</div>
{% endblock %}
