{% extends "phiauth/base.html" %}

{% block main_content %}
<div class="container">

{% if user.is_authenticated %}
<p class="alert alert-success"><strong>{{ user.username }}</strong>, you are connected !</p>
{% else %}
<form class="jumbotron form-as-custom" role="form" method="post" action="{% url "phiauth.views.signIn" %}">
    {% csrf_token %}

    <h1>Sign In</h1>

    {{ form.as_p }}

    <button class="btn btn-primary" type="submit">Sign In</button>
</form>
{% endif %}

</div>
{% endblock main_content %}
