{% extends "PFA/base.html" %}

{% block main_content %}
<div class="jumbotron">

<h1>Sign In</h1>

{% if error %}
<p class="alert alert-danger">Error : bad login or password !</p>
{% endif %}

{% if user.is_authenticated %}
<p class="alert alert-success"><strong>{{ user.username }}</strong>, you are connected !</p>
{% else %}

<form class="form-horizontal" role="form" method="post" action="{% url "auth.views.signIn" %}">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
        <label class="control-label col-lg-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-lg-4">
            {{ field }}
        </div>
    </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Sign In</button>
        </div>
    </div>
</form>
{% endif %}

</div>
{% endblock main_content %}
