{% extends "auth/base.html" %}

{% block main_content %}

{% if error %}
<p>Error : bad login or password !</p>
{% endif %}

{% if user.is_authenticated %}
<p><strong>{{ user.username }}</strong>, you are connected !</p>
{% else %}

<form role="form" method="post" action="{% url "auth.views.signIn" %}">
    {% csrf_token %}

    <h1>Sign In</h1>

    {{ form.errors }}

    {% for field in form %}
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
    {% endfor %}

    <p><button type="submit">Sign In</button></p>
</form>
{% endif %}

</div>
{% endblock main_content %}
