<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>{% block title %}PFA base{% endblock %}</title>

{% load static %}
{% block styles %}<!--
<link rel="stylesheet" href="{% static 'PFA/bootstrap/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'PFA/bootstrap/css/bootstrap-theme.css' %}"/>
-->
<link rel="stylesheet" href="{% static 'PFA/css/knacss.css' %}"/>
<link rel="stylesheet" href="{% static 'PFA/css/pfa.css' %}"/>
{% endblock styles %}
</head>
<body>

<header class="row mb3 txtcenter pfa-header">
{% block main_header %}
    <div class="col w20">
        <a href="{% url "PFA.views.home" %}" title="Home">OpenPhi</a>
    </div>
    <nav class="col">
        <ul>
            <li class="inbl"><a href="#">Explore</a></li>
            <li class="inbl"><a href="#contact">Contact</a></li>
            {% if user.is_authenticated %}
            <li class="inbl"><a href="/admin">Admin</a></li>
            {% endif %}
        </ul>
    </nav>
    <nav class="col w33">
        <ul>
            {% if user.is_authenticated %}
            <li class="inbl"><a href="{% url "auth.views.profile" %}">{{ user.username }}</a></li>
            <li class="inbl"><a href="{% url "auth.views.signOut" %}">Sign Out</a></li>
            {% else %}
            <li class="inbl"><a href="{% url "auth.views.signIn" %}">Sign In</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock main_header %}
</header>

<div class="ml3 mr3">
{%  block main_content %}
    <div class="txtcenter">
        <h1>Bootstrap starter template</h1>
        <p>Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
{% endblock %}
</div>

</body>
{% block scripts %}
<script type="text/javascript" href="{% static 'PFA/js/jquery.js' %}"></script>
{% endblock scripts %}
</html>
